In [9]:
import os
os.listdir()
import pandas as pd

In [15]:
ds = pd.read_json("in.json")
ds

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Delhi,28.6600,77.2300,India,IN,Delhi,admin,29617000,16753235
1,Mumbai,18.9667,72.8333,India,IN,Mahārāshtra,admin,23355000,12478447
2,Kolkāta,22.5411,88.3378,India,IN,West Bengal,admin,17560000,4496694
3,Bangalore,12.9699,77.5980,India,IN,Karnātaka,admin,13707000,8443675
4,Chennai,13.0825,80.2750,India,IN,Tamil Nādu,admin,11324000,6727000
...,...,...,...,...,...,...,...,...,...
182,Panaji,15.4800,73.8300,India,IN,Goa,admin,40017,40017
183,Damān,20.4170,72.8500,India,IN,Gujarāt,admin,39737,39737
184,Kavaratti,10.5626,72.6369,India,IN,Lakshadweep,admin,10688,10688
185,Panchkula,30.6915,76.8537,India,IN,Haryāna,minor,,
186,Kagaznāgār,19.3316,79.4661,India,IN,Telangana,minor,,

In [16]:
inpop = list(ds["population"])
inlat = list(ds["lat"])
inlng = list(ds["lng"])

In [17]:
inlat
inlng

[77.23,
 72.8333,
 88.3378,
 77.598,
 80.275,
 78.4667,
 73.8553,
 72.58,
 72.83,
 80.947,
 75.8667,
 80.3311,
 82.58,
 79.0831,
 77.4167,
 75.8472,
 73.2,
 83.3167,
 77.4167,
 73.8131,
 85.1414,
 75.8486,
 78.02,
 73.1602,
 78.1194,
 86.1833,
 73.7833,
 77.3167,
 75.32,
 70.7984,
 77.7,
 79.9333,
 72.9633,
 86.435,
 81.84,
 83.0128,
 74.8061,
 74.85,
 78.08,
 73.0667,
 78.1931,
 81.4333,
 88.31,
 85.3347,
 80.6167,
 76.7911,
 76.6531,
 81.6337,
 75.83,
 79.415,
 73.0168,
 76.9667,
 91.77,
 91.7667,
 75.9167,
 78.6928,
 75.125,
 75.5792,
 85.8281,
 72.85,
 78.7568,
 74.2333,
 76.8997,
 77.546,
 79.6011,
 78.1667,
 74.55,
 76.2833,
 83.3667,
 75.56,
 77.3398,
 80.45,
 84.8828,
 74.8806,
 77.3333,
 85.8667,
 79.3,
 78.029,
 87.32,
 86.9667,
 72.1369,
 77.75,
 79.9667,
 74.639,
 77.7081,
 73.3169,
 91.2667,
 75.7772,
 78.5696,
 73.15,
 75.9167,
 74.85,
 74.5,
 76.8333,
 70.07,
 74.7833,
 85.0167,
 75.5667,
 78.035,
 73.6833,
 76.915,
 74.5667,
 78.1333,
 75.7667,
 77.0,
 87.0167,
 75.1397,
 77.1,
 76.5864,
 77.7033,
 74.6333,
 78.1,
 88.4167,
 82.2167,
 76.76,
 88.37,
 76.57,
 76.5667,
 77.58,
 74.7333,
 78.8167,
 81.7833,
 76.6167,
 85.3833,
 82.0167,
 77.6833,
 88.37,
 76.385,
 78.75,
 75.7154,
 84.8,
 79.905,
 76.21,
 87.85,
 86.85,
 83.9701,
 87.47,
 75.7367,
 78.3949,
 77.5175,
 79.025,
 88.42,
 88.34,
 76.97,
 79.15,
 69.81,
 74.47,
 79.42,
 76.4,
 92.72,
 80.83,
 88.45,
 75.0667,
 74.28,
 81.28,
 93.95,
 77.6,
 79.015,
 77.355,
 80.05,
 77.49,
 86.13,
 77.0114,
 79.45,
 77.7628,
 88.11,
 69.6047,
 73.3233,
 83.4167,
 79.83,
 76.97,
 77.43,
 79.15,
 78.55,
 77.1722,
 72.68,
 91.8789,
 77.2,
 92.75,
 88.62,
 94.1194,
 93.62,
 73.83,
 72.85,
 72.6369,
 76.8537,
 79.4661]

In [18]:
inlng = list(ds["city"])

In [20]:
inlng

['Delhi',
 'Mumbai',
 'Kolkāta',
 'Bangalore',
 'Chennai',
 'Hyderābād',
 'Pune',
 'Ahmadābād',
 'Sūrat',
 'Lucknow',
 'Jaipur',
 'Cawnpore',
 'Mirzāpur',
 'Nāgpur',
 'Ghāziābād',
 'Indore',
 'Vadodara',
 'Vishākhapatnam',
 'Bhopāl',
 'Chinchvad',
 'Patna',
 'Ludhiāna',
 'Āgra',
 'Kalyān',
 'Madurai',
 'Jamshedpur',
 'Nāsik',
 'Farīdābād',
 'Aurangābād',
 'Rājkot',
 'Meerut',
 'Jabalpur',
 'Thāne',
 'Dhanbād',
 'Allahābād',
 'Vārānasi',
 'Srīnagar',
 'Amritsar',
 'Alīgarh',
 'Bhiwandi',
 'Gwalior',
 'Bhilai',
 'Hāora',
 'Rānchi',
 'Bezwāda',
 'Chandīgarh',
 'Mysore',
 'Raipur',
 'Kota',
 'Bareilly',
 'Jodhpur',
 'Coimbatore',
 'Dispur',
 'Guwāhāti',
 'Solāpur',
 'Trichinopoly',
 'Hubli',
 'Jalandhar',
 'Bhubaneshwar',
 'Bhayandar',
 'Morādābād',
 'Kolhāpur',
 'Thiruvananthapuram',
 'Sahāranpur',
 'Warangal',
 'Salem',
 'Mālegaon',
 'Kochi',
 'Gorakhpur',
 'Shimoga',
 'Tiruppūr',
 'Guntūr',
 'Raurkela',
 'Mangalore',
 'Nānded',
 'Cuttack',
 'Chānda',
 'Dehra Dūn',
 'Durgāpur',
 'Āsansol',
 'Bhāvnagar',
 'Amrāvati',
 'Nellore',
 'Ajmer',
 'Tinnevelly',
 'Bīkaner',
 'Agartala',
 'Ujjain',
 'Jhānsi',
 'Ulhāsnagar',
 'Davangere',
 'Jammu',
 'Belgaum',
 'Gulbarga',
 'Jāmnagar',
 'Dhūlia',
 'Gaya',
 'Jalgaon',
 'Kurnool',
 'Udaipur',
 'Bellary',
 'Sāngli',
 'Tuticorin',
 'Calicut',
 'Akola',
 'Bhāgalpur',
 'Sīkar',
 'Tumkūr',
 'Quilon',
 'Muzaffarnagar',
 'Bhīlwāra',
 'Nizāmābād',
 'Bhātpāra',
 'Kākināda',
 'Parbhani',
 'Pānihāti',
 'Lātūr',
 'Rohtak',
 'Rājapālaiyam',
 'Ahmadnagar',
 'Cuddapah',
 'Rājahmundry',
 'Alwar',
 'Muzaffarpur',
 'Bilāspur',
 'Mathura',
 'Kāmārhāti',
 'Patiāla',
 'Saugor',
 'Bijāpur',
 'Brahmapur',
 'Shāhjānpur',
 'Trichūr',
 'Barddhamān',
 'Kulti',
 'Sambalpur',
 'Purnea',
 'Hisar',
 'Fīrozābād',
 'Bīdar',
 'Rāmpur',
 'Shiliguri',
 'Bāli',
 'Pānīpat',
 'Karīmnagar',
 'Bhuj',
 'Ichalkaranji',
 'Tirupati',
 'Hospet',
 'Āīzawl',
 'Sannai',
 'Bārāsat',
 'Ratlām',
 'Handwāra',
 'Drug',
 'Imphāl',
 'Anantapur',
 'Etāwah',
 'Rāichūr',
 'Ongole',
 'Bharatpur',
 'Begusarai',
 'Sonīpat',
 'Rāmgundam',
 'Hāpur',
 'Uluberiya',
 'Porbandar',
 'Pāli',
 'Vizianagaram',
 'Puducherry',
 'Karnāl',
 'Nāgercoil',
 'Tanjore',
 'Sambhal',
 'Shimla',
 'Ghāndīnagar',
 'Shillong',
 'New Delhi',
 'Port Blair',
 'Gangtok',
 'Kohīma',
 'Itānagar',
 'Panaji',
 'Damān',
 'Kavaratti',
 'Panchkula',
 'Kagaznāgār']